body{
        
    background-color: rgb(245, 234, 234);;
}

.nav-bar{
    background-image: linear-gradient(rgb(210, 217, 210), rgb(178, 182, 179));
    height: fit-content;
    display: block;
    
}

.menu-btn{
    cursor: pointer;
    margin: 10px 15px;
    padding: 15px 40px;
    border: none;
    border-radius: 10px;
    background-image: linear-gradient(rgb(31, 100, 31), rgb(5, 117, 13));
    color: white;
    font-size: 20px;
    font-weight: bold;

}

.menu-btn:hover{
    opacity: 0.9;
}
.menu-btn:active{
    opacity: 0.6;
}

.menu-picture1{
display: block;
width: 400px;
height: 280px;
object-fit: cover;
}
.menu-picture-box{
width: 420px;
display: inline-block;
border-style: none;
border-color: none;

}

.pizza-name{

background-color: brown;
color: white;
font-size: 25px;
}

.pizza-price{
margin-top: 0px;
font-size: 45px;
background-image: linear-gradient(rgb(31, 100, 31), rgb(5, 117, 13));
color: white;

}

.pizza-name,
.pizza-price{
display: block;
padding: 0;
margin: 0;
text-align: center;
}

.pizza-name2{
font-size: 19px;
background-color: brown;
color: white;
padding: 0;
margin: 0;
}


.order-btn{
cursor: pointer;

display: inline-block;
padding: 30px 60px;
border: none;
font-size: 20px;
font-weight: bold;
background-image: linear-gradient(rgb(214, 68, 31), rgb(212, 74, 50));
color: white;

}

.order-btn:hover{
background-image: linear-gradient(rgb(31, 100, 31), rgb(5, 117, 13));

}
.order-btn:active{
opacity: 0.9;
font-size: 17px;
}

.menu-number1{

display: inline-block;
vertical-align: top;

margin-right: 10px;
margin-top: 20px;
margin-left: 10px;


border-style: none;
border-color: none;
}





.container2{
display: flex;
flex-direction: row;

border-top-style: none;
border-color: none;
}

.sub-container1{
background-color: none;
display: inline;
flex: 1;
}
.sub-container2{
background-color: none;
flex: 1;
}




.menu-main-box{

margin-left: 0px;
}