.header{
    color: red;
    background-color: green;
    height: 100px;
    width: 100%;

}

.menu-container{
    display: flex;
    background-color: red;
    height: 600px;
    width: 100%;
}

.footer{
    background-color: green;
    height: 100px;
    width: 100%;
}

.menu-side1{
    background-color: yellow;
    height: 100%;
    width: 100%;
}
.menu-side2{
    display: flex;
    flex-direction: column;
    background-color: pink;
    height: 100%;
    width: 100%;
}
.order1{
    height: 100%;
    width: 100%;
}

.titleAndPrice{
    flex: 1;
    background-color: rgb(230, 123, 66);
    height: 100%;
    width: 100%;
}
.buyAndCancel{
    display: flex;
    background-color: rgb(56, 56, 193);
    height: 95px;
    width: 100%;
}
.buy{
    background-color: rgb(245, 0, 0);
    height: 100%;
    width: 100%;
}
.btn-ORDER{
    color: white;
    font-size: 20px;
    background-color: orangered;
    border: none;
    height: 100%;
    width: 100%;
}
.btn-ORDER:hover{
    background-color: rgb(4, 106, 4);
}
.btn-ORDER:active{
    background-color:  orangered;
}

.cancel{
    background-color: rgb(245, 200, 0);
    height: 100%;
    width: 100%;
}
.btn-CANCEL{
    color: white;
    font-size: 20px;
    background-color: rgb(255, 0, 0);
    border: none;
    height: 100%;
    width: 100%;
}
.btn-CANCEL:hover{
    background-color: rgb(177, 11, 11);
}
.btn-CANCEL:active{
    background-color: rgb(255, 0, 0);
}
h1{
 padding-top: 50px;
 padding-left: 50px;
}
h2{
 font-size: 95px;
 padding-top: 50px;
 padding-left: 50px; 
}
h1, h2{
    color: aliceblue;
}